[project]
	description = Sample template to work with dynamodb
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jagdeesh109
[access "refs/for/refs/*"]
	read = group user/jagdeesh109
	push = group user/jagdeesh109
	label-Code-Review = -2..+2 group user/jagdeesh109
	label-Verified = -1..+1 group user/jagdeesh109
	rebase = group user/jagdeesh109
	removeReviewer = group user/jagdeesh109
	submit = group user/jagdeesh109
[access "refs/heads/*"]
	read = group user/jagdeesh109
	create = group user/jagdeesh109
	push = +force group user/jagdeesh109
	pushMerge = group user/jagdeesh109
[access "refs/tags/*"]
	push = +force group user/jagdeesh109
	pushTag = group user/jagdeesh109
	pushSignedTag = group user/jagdeesh109
